.gallery {
  max-width: 1440px;
  /* height: 792px; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  column-gap: 24px;
  row-gap: 24px;
}
.image-card {
  max-width: 360px;
  max-height: 200px;

  border: 1px solid #808080;

  position: relative;
}
.image-card a {
  width: 360px;
  height: 152px;
}
.image-card img {
  max-width: 360px;
  height: 200px;
  object-fit: cover;
}
.info {
  margin-top: 0;
  padding-top: 4;
  padding-bottom: 4;

  width: 359px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #fff;

  position: absolute;
  bottom: 0;
}

.info p {
  text-align: center;

  color: #2e2f42;

  font-size: 12px;

  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}
span {
  display: block;
  color: #2e2f42;
  font-size: 12px;

  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.48px;
}
